<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.saltlux.repository.IUserRepository">
	<resultMap type="com.kosa.saltlux.vo.NewsVO" id="newsMap">
		<result column="NEWS_NO" property="newsNo" />
		<result column="TITLE" property="title" />
		<result column="CONTENTS" property="contents" />
		<result column="IMAGE_URL" property="imageURL" />
		<result column="THUMBNAIL_URL" property="thumbnailURL" />
		<result column="PRESS" property="press" />
		<result column="CATEGORYA" property="category" />
		<result column="NEWS_DATE" property="newsDate" />
		<result column="NOUNS" property="nouns" />
	</resultMap>
	
	<select id="getPageTotal" resultType="int">
		SELECT COUNT(*) FROM luxian.NEWS;
	</select>
	
	<select id="getNews" resultType="com.kosa.saltlux.vo.NewsVO">
		SELECT * FROM luxian.NEWS
		limit 10;
	</select>
	
	<select id="getDB" resultType="com.kosa.saltlux.vo.NewsVO">
		SELECT NEWS_NO AS newsNo,
			   TITLE AS title,
			   CONTENTS AS contents,
			   IMAGE_URL AS imageURL,
			   THUMBNAIL_URL AS thumbnailURL,
			   PRESS AS press,
			   CATEGORY AS category,
			   NEWS_DATE AS newsDate,
			   NOUNS AS nouns
		FROM luxian.NEWS
		limit #{cnt}, 10;
	</select>

</mapper>
